@{
}

@model Books
<div class="card card-outline-primary m-1 p-1">
    <div class="bg-light p-1">
        <h4>@Model.Title</h4>
    </div>



<table class="table table-bordered table-striped bg-success">
    <tr>
        <th>
            Title
        </th>
        <th>
            Author
        </th>
        <th>
            Publisher
        </th>
        <th>
            ISBN
        </th>
        <th>
            Classification
        </th>
        <th>
            Category
        </th>
        <th>
            Number Of Pages
        </th>
        <th>
            Price
        </th>
    </tr>
    <tr>
        <td>@Model.Title</td>
        <td>@Model.Author</td>
        <td>@Model.Publisher</td>
        <td>@Model.ISBN</td>
        <td>@Model.Classification</td>
        <td>@Model.Category</td>
        <td>@Model.PageCount</td>
        <td>$@Model.Price</td>
    </tr>
</table>

    <form method="post" asp-page="/BuyBooks">
        
        <input type="hidden" asp-for="@Model.BookId" />
        <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
        <span class="card-text">
            <button type="submit" class="btn btn-success btn-sm float-end">Buy</button>
        </span>
    </form>

</div>
